@import "@Styles/main.scss";

.input {
  border-radius: 16px;
  padding: 4px 4px 4px 8px;  
  outline: none;
  border: none;
  color: aqua;
  width: 300px;
  height: 50px;
  background: rgba(255, 255, 255, 0.2);
  font-weight: 400;
  font-size: 14px;
  color: #fff;
}
input::placeholder{
  color: #fff;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}