.container_new_sneaker {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10vh;
  width: 100%;
  padding-top: 2vh;
  .main_info {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
  }
  .sizes_count {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vh;
    .child {
      display: flex;
      flex-direction: row;
      gap: 3vh;
      align-items: center;
    }
  }
  .files {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 3vh;
    justify-items: center;
  }
}
