@import "@Styles/main.scss";

.btn {
  background-image: $primary-color;
  width: auto;
  height: 30px;
  padding: 2px 8px;
  border: none;
  outline: none;
  border-radius: 8px;
  color: rgb(87, 83, 83);
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  &:active {
    background-image: $primary-color-active-btn;
  }
  &:hover {
    background-image: $primary-color-active-btn;
  }
}
.btn_back {
  font-weight: 600;
  font-size: 14px;
  color: #138797;
  border: 1px solid #138797;
  border-radius: 12px;
  padding: 10px 16px;
  width: 73px;
  height: 37px;
}
