$primary-color: rgba(255, 255, 255, 0.2);
$primary-color-gradient: linear-gradient(135deg, #122832 0%, #fff 100%);
$primary-color-active-btn: linear-gradient(to bottom, #0baeb9, #cebebe);
$font-name-size: 16px;
$font-price-size: 18px;
$font-name-section-size: 32px;
$padding-input: 10px 16px;
