@import "variables.scss";

body {
  background: #14adb1;
  color: var(--tg-theme-text-color);
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .container {
    padding: 8px;
  }
  Link {
    text-decoration: none;
  }
}
