@font-face {
  font-family: "SFProDisplay";
  src: url("./SF-Pro-Display-BlackItalic.otf") format("opentype");
  font-style: normal;
}
@font-face {
  font-family: "SFProDisplayMedium";
  src: url("./SF-Pro-Display-MediumItalic.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "SFProDisplayRegular";
  src: url("./SF-Pro-Display-RegularItalic.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
}
