.container_sneakers {
  display: flex;
  flex-direction: column;

  gap: 2vh;
  .core_sneakers {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .filters {
    display: flex;
    gap: 24px;
  }
  .modal-content {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    // height: 602px;
    // width: 1092px;
    border-radius: 16px;
    background-color: #8eb0d3;
  }
}
