.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(to bottom, #2adbe7, #776e6e);
  border-bottom: 8px solid white;
  border-radius: 0 0 10% 10%;
  height: 32vh;
  gap: 1vh;
  img {
    width: 150px;
    height: 150px;
  }
}
