.skeleton_section {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(to bottom, #2adbe7, #776e6e);
  border: 1px solid #acf39d;
  border-radius: 8px;
  height: 4vh;
}
