@import "@Styles/variables.scss";

table {
  border-collapse: collapse;
  width: 100%;
  th,
  tr,
  td {
    border: 1px solid rgb(126, 122, 122);
    text-align: center;
    height: 3.2vh;
  }
  tr:hover {
    background-image: $primary-color;
    cursor: pointer;
    font-size: 18px;
  }
  .sizes_count {
    display: flex;
    justify-content: space-between;
    .size,
    .count {
      width: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
